body {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-size: 34px;
}
select {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
.container {
  display: block;
  max-width: 600px;
  margin: 60px auto 10px auto;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 30px;
}
.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 25px 15px;
  padding: 20px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
}
footer {
  text-align: center;
  opacity: 0.7;
}
